.navbar-brand-txt {
  line-height: 34px;
}
accordion > .panel-group .panel-default .panel-title > a:before {
  content: "\f105";
}
accordion > .panel-group .panel-open .panel-title > a:before {
  content: "\f107";
}
.card-pf-aggregate-status-alt .card-pf-body {
  padding-bottom: 20px;
}
.card-pf-aggregate-status-alt .card-pf-title {
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0 10px 0;
}
.card-pf-aggregate-status-alt .card-pf-aggregate-status-count {
  font-size: 24px;
}
.card-pf-aggregate-status-alt .card-pf-aggregate-status-title {
  display: block;
  font-size: 12px;
}
.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .card-pf-aggregate-status-notification {
  border-left: none;
}
.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .fa {
  position: relative;
  top: -1px;
}
.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .pficon {
  position: relative;
  top: -1px;
}
.card-pf-heading-no-bottom {
  margin: 0 -20px 0px;
  padding: 0 20px 0;
}
.card-pf-icon-image {
  height: 18px;
  margin: 0 5px 5px;
}
.trend-card-large-pf .trend-header-pf {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
.trend-card-large-pf .trend-title-big-pf {
  font-size: 26px;
  font-weight: 300;
  margin-left: 10px;
}
.trend-card-large-pf .trend-title-small-pf {
  font-size: 12px;
  font-weight: 400;
}
.trend-card-small-pf .trend-header-pf {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}
.trend-card-small-pf .trend-title-big-pf {
  font-size: 17px;
  font-weight: 400;
  margin-left: 10px;
}
.trend-card-small-pf .trend-title-small-pf {
  font-size: 10px;
  font-weight: 400;
}
pf-c3-chart {
  display: block;
}
.empty-chart-content {
  text-align: center;
}
.empty-chart-content .pficon {
  font-size: 24px;
}
.empty-chart-content span {
  vertical-align: middle;
  width: 100%;
}
.utilization-trend-chart-pf .donut-chart-pf {
  float: left;
  padding-top: 15px;
  width: 100%;
}
.utilization-trend-chart-pf h3 {
  font-weight: 400;
}
.utilization-trend-chart-pf .current-values {
  border-bottom: 1px solid #d1d1d1;
  float: left;
  padding: 0 5px 10px 0;
  width: 100%;
}
.utilization-trend-chart-pf .available-count {
  margin: 3px 0;
  padding-left: 0;
  padding-right: 5px;
}
.utilization-trend-chart-pf .available-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin: 2px 0;
  padding: 0 5px;
}
.utilization-trend-chart-pf .radial-chart {
  float: left;
  padding-top: 10px;
  width: 100%;
}
.utilization-trend-chart-pf .sparkline-chart {
  float: left;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
}
.utilization-trend-chart-pf .legend-text {
  color: inherit;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 0;
}
.utilization-trend-chart-pf.data-unavailable-pf .current-values {
  color: transparent;
}
.trend-flat-details {
  display: table;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .trend-flat-details {
    margin-top: 25px;
  }
}
.trend-flat-details-cell {
  display: table-cell;
  min-width: 70px;
  vertical-align: bottom;
}
.trend-header-compact-pf {
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.trend-title-compact-big-pf {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
}
.trend-title-compact-small-pf {
  font-size: 12px;
  font-weight: 400;
}
.trend-title-flat-big-pf {
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
  margin-right: 15px;
}
.trend-label-flat-pf {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}
.trend-label-flat-strong-pf {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}
.trend-footer-pf {
  color: #333333;
  font-size: 10px;
  font-weight: 400;
  margin-left: 10px;
}
.data-unavailable-pf[class*="trend-title-"] {
  color: transparent;
}
.data-unavailable-pf[class*="trend-label-"] {
  color: transparent;
}
.data-unavailable-pf .trend-footer-pf {
  color: transparent;
}
.utilization-bar-chart-pf .progress-bar {
  -moz-transition: width 0.75s ease-in-out;
  -o-transition: width 0.75s ease-in-out;
  -webkit-transition: width 0.75s ease-in-out;
  transition: width 0.75s ease-in-out;
}
.utilization-bar-chart-pf .progress-bar.animate {
  width: 0% !important;
}
.heatmap-pf-container {
  position: relative;
}
.heatmap-pf-container .heatmap-container {
  margin-left: -1px;
}
.heatmap-pf-container-pf .loading {
  position: absolute;
  right: 50%;
  top: 100px;
  z-index: 10;
}
.heatmap-pf-svg {
  height: 100%;
  width: 100%;
}
.heatmap-pf-legend-container {
  list-style-type: none;
  margin-top: 5px;
  overflow: auto;
  padding: 0;
}
.heatmap-pf-legend-items {
  float: left;
}
.legend-pf-color-box {
  display: inline-block;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px;
  width: 11px;
}
.legend-pf-color-box:first-of-type {
  margin-left: 0px;
}
.legend-pf-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-right: 5px;
}
.camelcase {
  text-transform: capitalize;
}
.card-view-pf {
  overflow: auto;
  padding-left: 2px;
  padding-top: 20px;
}
.card-view-pf .card {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
  background: #fff;
  border-top: 2px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
  display: block;
  float: left;
  height: 290px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 260px;
}
.card-view-pf .card .card-check-box {
  left: 10px;
  position: absolute;
  top: 8px;
  visibility: hidden;
  width: 20px;
  z-index: 3;
}
.card-view-pf .card:hover {
  -moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
  border: 1px solid #d1d1d1;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
}
.card-view-pf .card:hover .card-check-box {
  visibility: visible;
}
.card-view-pf .card:focus {
  -moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
  border: 1px solid #d1d1d1;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.24);
}
.card-view-pf .card-content {
  height: 100%;
  margin: 2px 0 10px 0;
  overflow: auto;
  width: 100%;
}
.card-view-pf .card-title {
  color: #1186C1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0px;
}
.card-view-pf .card.active {
  border: solid 3px #39a5dc;
}
.card-view-pf .card.active:hover {
  border: solid 3px #39a5dc;
}
.card-view-pf .card.active:hover .pficon {
  color: #fff;
}
.card-view-pf .card.active:focus {
  border: solid 3px #39a5dc;
}
.card-view-pf .card.active:focus .pficon {
  color: #fff;
}
.card-view-pf .card.active .pficon {
  color: #fff;
}
.card-view-pf .card.active .card-check-box {
  visibility: visible;
}
.card-view-pf .card.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ededed;
  box-shadow: none;
  color: #8b8d8f;
  cursor: not-allowed;
}
.card.disabled:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ededed;
  box-shadow: none;
  color: #8b8d8f;
  cursor: not-allowed;
}
.card.disabled:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ededed;
  box-shadow: none;
  color: #8b8d8f;
  cursor: not-allowed;
}
/* overriding pf base so that blank slate fills entire parent container */
.blank-slate-pf {
  height: 100%;
  margin-bottom: 0px;
}
.blank-slate-pf button {
  margin-right: 4px;
}
/* overriding pf base so that buttons have spaces between them */
.pf-expand-placeholder {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .toolbar-pf-actions .toolbar-apf-filter {
    padding-left: 0;
  }
}
.toolbar-pf-actions .toolbar-pf-view-selector a {
  cursor: pointer;
}
.toolbar-pf-actions .dropdown-menu a {
  cursor: pointer;
}
.toolbar-pf-actions .dropdown-kebab-pf {
  float: right;
}
.toolbar-pf-include-actions {
  display: inline-block;
  margin: 0 5px;
}
.dropdown-kebab-pf.invisible {
  opacity: 0;
  pointer-events: none;
}
.toolbar-pf-actions.no-filter-results {
  margin-bottom: 10px;
}
.filter-pf a {
  cursor: pointer;
}
.filter-pf.filter-fields .form-group {
  padding-left: 0;
  width: 275px;
}
.filter-select .btn-default {
  background-color: #fff;
  background-image: none;
  color: #8b8d8f;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}
.input-group .input-group-btn .dropdown-menu > .selected > a {
  background-color: #0088ce !important;
  border-color: #0076b7 !important;
  color: #fff !important;
}
.sort-pf .btn-link {
  color: #252525;
  font-size: 16px;
  line-height: 1;
  margin-left: 10px;
  padding: 4px 0;
}
.sort-pf .btn-link:hover {
  color: #0088ce;
}
.toast-pf-action > a {
  cursor: pointer;
}
.toast-pf .dropdown-menu > li > a {
  cursor: pointer;
}
.pf-table-view-selected-label {
  float: right;
  line-height: 40px;
}
.table-view-container {
  background-color: white;
}
table.dataTable.no-footer {
  border-bottom: none;
}
.dataTables_wrapper {
  border: none;
  margin: 0px;
  padding: 0px;
}
table.dataTable thead .sorting_asc {
  background-image: none !important;
}
table.dataTable thead .sorting_desc {
  background-image: none !important;
}
table.dataTable thead .sorting {
  background-image: none !important;
}
table.dataTable tbody th {
  padding: 2px 10px 3px;
}
table.dataTable tbody td {
  padding: 2px 10px 3px;
}
.table-view-pf-select {
  width: 13px;
}
.wizard-pf-footer .tooltip-wrapper {
  border: none;
  box-shadow: none;
  display: inline-block;
  margin-left: 5px;
  padding: 0;
  text-align: center;
}
.wizard-pf-footer .tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}
.wizard-pf-singlestep {
  margin-left: 0;
}
.wizard-pf-position-override {
  position: relative;
}
.wizard-pf-footer-inline {
  text-align: left;
}
.wizard-pf-cancel-inline {
  margin-left: 25px;
}
