.pf-transclude-example div {
  border: 1px solid #337ab7;
  margin-bottom: 20px;
  margin-left:   20px;
}

.pf-transclude-example p {
  background-color: #337ab7;
  margin: 0;
  padding: 5px 10px;
}

.pf-transclude-example id {
  display: inline-block;
  background-color: #def3ff;
  color: #000;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
}

.pf-transclude-example pre {
  padding: 5px;
  border-width: 0px;
}

hr {
  display: block;
  height: 10px;
  border: 0;
  border-top: 1px solid #525252;
  margin: 1em 0;
  padding: 0;
}

.example-container {
  display:inline-block;
  width: 100%;
}
