<div class="row">
  <div class="col-md-3">
    <ul>
      <li>Host 1</li>
      <li>Host 2</li>
      <li>Host 3</li>
      <li>Host 4</li>
      <li>Host 5</li>
      <li>Host 6</li>
      <li>Host 7</li>
      <li>Host 8</li>
    </ul>
  </div>
  <div class="col-md-9">
    <dl class="dl-horizontal">
      <dt>Host Name</dt>
      <dd>file1.nay.redhat.com</dd>
      <dt>Device Path</dt>
      <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
      <dt>Time</dt>
      <dd>January 15, 2016 10:45:11 AM</dd>
      <dt>Severity</dt>
      <dd>Warning</dd>
      <dt>Cluster</dt>
      <dd>Cluster 1</dd>
    </dl>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
