<div class="list-view-pf">
  <div class="list-group-item {{item.rowClass}}"
       ng-repeat="item in items track by $index"
       ng-class="{'pf-selectable': selectItems, 'active': isSelected(item), 'disabled': checkDisabled(item)}">
    <div class="list-view-pf-checkbox" ng-if="config.showSelectBox" >
      <input type="checkbox" value="item.selected" ng-model="item.selected" ng-disabled="checkDisabled(item)" ng-change="checkBoxChange(item)"/>
    </div>

    <div class="list-view-pf-actions"
         ng-if="(actionButtons && actionButtons.length > 0) || (menuActions && menuActions.length > 0)">
      <button class="btn btn-default {{actionButton.class}}" ng-repeat="actionButton in actionButtons"
              title="actionButton.title"
              ng-class="{'disabled' : checkDisabled(item) || !enableButtonForItem(actionButton, item)}"
              ng-click="handleButtonAction(actionButton, item)">
        <div ng-if="actionButton.include" class="actionButton.includeClass" ng-include src="actionButton.include"></div>
        <span ng-if="!actionButton.include">{{actionButton.name}}</span>
      </button>
      <div class="{{dropdownClass}} pull-right dropdown-kebab-pf"
           id="kebab_{{$index}}"
           ng-if="menuActions && menuActions.length > 0">
        <button class="btn btn-link dropdown-toggle" type="button"
                id="dropdownKebabRight_{{$index}}"
                ng-class="{'disabled': checkDisabled(item)}"
                ng-click="setupActions(item, $event)"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right {{$index}}" aria-labelledby="dropdownKebabRight_{{$index}}" >
          <li ng-repeat="menuAction in menuActions"
              ng-if="menuAction.isVisible !== false"
              role="{{menuAction.isSeparator === true ? 'separator' : 'menuitem'}}"
              ng-class="{'divider': (menuAction.isSeparator === true), 'disabled': (menuAction.isDisabled === true)}">
            <a ng-if="menuAction.isSeparator !== true" title="{{menuAction.title}}" ng-click="handleMenuAction(menuAction, item)">
              {{menuAction.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div pf-transclude="parent"
         class="list-view-pf-main-info"
         ng-click="itemClick($event, item)"
         ng-dblclick="dblClick($event, item)">
    </div>
  </div>
</div>
