<div class="tile-pf tile-pf-accented tile-pf-status tile-pf-providers">
    <h2 class="tile-pf-title" ng-if="types.count > 1">
        <span class="tile-pf-status-count">{{types.count}}</span>
        <span class="tile-pf-status-type">{{types.name}}</span>
        <div class="indicator providers">
            <span ng-repeat="type in types.types">
                <a class="count" ng-if="type.id && type.href" href="{{type.href}}{{type.id}}"><i class="provider-icon {{type.iconClass}}"/>{{ type.count }}</a>
                <a class="count" ng-if="!type.id && type.href" href="{{type.href}}"><i class="provider-icon {{type.iconClass}}"/>{{ type.count }}</a>
                <div class="count" ng-if="!type.id && !type.href"><i class="provider-icon {{type.iconClass}}"/>{{ type.count }}</div>
            </span>
        </div>
    </h2>
    <h2 class="tile-pf-title" ng-if="types.count == 0">
        No Types
    </h2>
    <h2 class="tile-pf-title" ng-if="types.count == 1">
        <i class="provider-icon provider-icon-large {{types.types[0].iconClass}}"/>
    </h2>
</div>
