<span class="pct-donut-chart-pf">
  <span ng-class="{'pct-donut-chart-pf-left': $ctrl.config.labelConfig.orientation === 'left', 'pct-donut-chart-pf-right': $ctrl.config.labelConfig.orientation === 'right'}">
    <span class="pct-donut-chart-pf-chart">
      <pf-c3-chart ng-if="$ctrl.data.dataAvailable !== false" id="{{$ctrl.donutChartId}}" config="$ctrl.config"
                   get-chart-callback="$ctrl.setChart"></pf-c3-chart>
      <pf-empty-chart ng-if="$ctrl.data.dataAvailable === false" chart-height="$ctrl.chartHeight"></pf-empty-chart>
    </span>
    <span ng-if="$ctrl.data.dataAvailable !== false && $ctrl.config.labelConfig && !$ctrl.config.labelConfig.labelFn()" class="pct-donut-chart-pf-label">
      {{$ctrl.config.labelConfig.title}}
      <span ng-if="$ctrl.data" ng-switch="$ctrl.config.labelConfig.label">
        <span ng-switch-when="none"></span>
        <span ng-switch-when="available">{{$ctrl.data.available}} {{$ctrl.config.labelConfig.units}} available</span>
        <span ng-switch-when="percent">{{$ctrl.data.percent}}&#37; used</span>
        <span ng-switch-default="">{{$ctrl.data.used}} {{$ctrl.config.labelConfig.units}} of {{$ctrl.data.total}} {{$ctrl.config.labelConfig.units}} used</span>
      </span>
    </span>
    <span ng-if="$ctrl.data.dataAvailable !== false && $ctrl.config.labelConfig && $ctrl.config.labelConfig.labelFn()" class="pct-donut-chart-pf-label"
          ng-bind-html="$ctrl.config.labelConfig.labelFn()">
    </span>
  </span>
</span>

