<span>
  <div ng-class="{'trend-card-large-pf': showLargeCardLayout,'trend-card-small-pf': showSmallCardLayout}">

    <span class="trend-header-pf" ng-if="config.title">{{config.title}}</span>

    <span ng-if="showActualValue">
      <span class="trend-title-big-pf">{{getLatestValue()}}</span>
      <span class="trend-title-small-pf">{{config.units}}</span>
    </span>
    <span ng-if="showPercentageValue">
      <span class="trend-title-big-pf">{{getPercentageValue() + '%'}}</span>
      <span class="trend-title-small-pf">of {{chartData.total + ' ' + config.units}}</span>
    </span>

    <div pf-sparkline-chart config="config" chart-data="chartData" chart-height="getChartHeight()"
         show-x-axis="showXAxis" show-y-axis="showYAxis"></div>

    <span class="trend-footer-pf" ng-if="config.timeFrame">{{config.timeFrame}}</span>
  </div>
</span>
