<div class="container-fluid">
  <div class="row toolbar-pf">
    <div class="col-sm-12">
      <form class="toolbar-pf-actions" ng-class="{'no-filter-results': !config.filterConfig}">
        <div pf-filter-fields id="{{filterDomId}}_fields" config="config.filterConfig" ng-if="config.filterConfig" add-filter-fn="addFilter"></div>
        <div pf-sort id="{{sortDomId}}" config="config.sortConfig" ng-if="config.sortConfig"></div>
        <div class="form-group toolbar-actions"
             ng-if="config.actionsConfig &&
                   ((config.actionsConfig.primaryActions && config.actionsConfig.primaryActions.length > 0) ||
                    (config.actionsConfig.moreActions && config.actionsConfig.moreActions.length > 0) ||
                    config.actionsConfig.actionsInclude)">
          <button class="btn btn-default primary-action" type="button" ng-repeat="action in config.actionsConfig.primaryActions"
                  title="{{action.title}}"
                  ng-click="handleAction(action)"
                  ng-disabled="action.isDisabled === true">
            {{action.name}}
          </button>
          <div ng-if="config.actionsConfig.actionsInclude" pf-transclude class="toolbar-pf-include-actions" ng-tranclude="actions"></div>
          <div dropdown class="dropdown  dropdown-kebab-pf" ng-if="config.actionsConfig.moreActions && config.actionsConfig.moreActions.length > 0">
            <button dropdown-toggle class="btn btn-link dropdown-toggle" type="button" id="{{filterDomId}}_kebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
              <li ng-repeat="action in config.actionsConfig.moreActions"
                  role="{{action.isSeparator === true ? 'separator' : 'menuitem'}}"
                  ng-class="{'divider': action.isSeparator === true, 'disabled': action.isDisabled === true}">
                <a ng-if="action.isSeparator !== true"
                   class="secondary-action"
                   title="{{action.title}}"
                   ng-click="handleAction(action)">
                  {{action.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="toolbar-pf-view-selector pull-right" ng-if="config.viewsConfig && config.viewsConfig.views">
          <ul class="list-inline">
            <li ng-repeat="view in config.viewsConfig.viewsList"
                ng-class="{'active': isViewSelected(view.id), 'disabled': checkViewDisabled(view)}"
                title={{view.title}}>
              <a>
                <i class="view-selector {{view.iconClass}}" ng-click="viewSelected(view.id)"></i>
              </a>
            </li>
          </ul>
        </div>
      </form>
      <div pf-filter-results id="{{filterDomId}_results}" config="config.filterConfig" ng-if="config.filterConfig"></div>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
