<div class="blank-slate-pf">
  <div ng-if="$ctrl.config.icon" class="blank-slate-pf-icon">
    <span class="{{$ctrl.config.icon}}"></span>
  </div>
  <h4 id="blank-state-pf-title-{{$id}}" class="h1 blank-state-pf-title">
    {{$ctrl.config.title}}
  </h4>
  <p id="blank-state-pf-info-{{$id}}" class="blank-state-pf-info" ng-if="$ctrl.config.info">
    {{$ctrl.config.info}}
  </p>
  <p id="blank-state-pf-helpLink-{{$id}}" class="blank-state-pf-helpLink-label" ng-if="$ctrl.config.helpLink">
    {{$ctrl.config.helpLink.label}}
    <a ng-if="$ctrl.config.helpLink.url" class="blank-state-pf-helpLink" ng-click="$ctrl.config.helpLink.urlAction()" href="{{$ctrl.config.helpLink.url}}">{{$ctrl.config.helpLink.urlLabel}}</a>
    <button ng-if="!$ctrl.config.helpLink.url" class="btn blank-state-pf-helpbutton btn-link" ng-click="$ctrl.config.helpLink.urlAction()">{{$ctrl.config.helpLink.urlLabel}}</button>.
  </p>
  <div ng-if="$ctrl.hasMainActions()" class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg"
            ng-repeat="actionButton in $ctrl.actionButtons | filter:$ctrl.filterMainActions"
            title="{{actionButton.title}}"
            ng-click="$ctrl.handleButtonAction(actionButton)">
      {{actionButton.name}}
    </button>
  </div>
  <div ng-if="$ctrl.hasSecondaryActions()" class="blank-slate-pf-secondary-action">
    <button class="btn btn-default"
            ng-repeat="actionButton in $ctrl.actionButtons | filter:$ctrl.filterSecondaryActions"
            title="{{actionButton.title}}"
            ng-click="$ctrl.handleButtonAction(actionButton)">
      {{actionButton.name}}
    </button>
  </div>
</div>
