<div class="sort-pf">
  <div class="form-group">
    <div dropdown class="dropdown btn-group" keyboard-nav="true">
      <button dropdown-toggle type="button" class="btn btn-default dropdown-toggle filter-fields" aria-haspopup="true" aria-expanded="false">
        {{config.currentField.title}}
        <span class="caret"></span>
      </button>
      <ul dropdown-menu class="dropdown-menu">
        <li ng-repeat="item in config.fields">
          <a class="sort-field" role="menuitem" tabindex="-1" ng-click="selectField(item)">
            {{item.title}}
          </a>
        </li>
      </ul>
    </div>
    <button class="btn btn-link" type="button"  ng-click="changeDirection()">
      <span class="sort-direction" ng-class="getSortIconClass()"></span>
    </button>
  </div>
</div>
