<div class="filter-pf filter-fields">
  <form>
    <div class="form-group toolbar-pf-filter">
      <div class="input-group">
        <div dropdown class="input-group-btn">
          <button dropdown-toggle type="button" class="btn btn-default dropdown-toggle filter-fields" aria-haspopup="true" aria-expanded="false" tooltip="Filter by" tooltip-placement="top">
            {{currentField.title}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="item in config.fields">
              <a class="filter-field" role="menuitem" tabindex="-1" ng-click="selectField(item)">
                {{item.title}}
              </a>
            </li>
          </ul>
        </div>
        <div ng-if="currentField.filterType !== 'select'">
          <input class="form-control" type="{{currentField.filterType}}" ng-model="config.currentValue"
                 placeholder="{{currentField.placeholder}}"
                 ng-keypress="onValueKeyPress($event)"/>
        </div>
        <div ng-if="currentField.filterType === 'select'">
          <div pf-bootstrap-select class="filter-select"
               selections="currentField.filterValues"
               current-selection="currentValue"
               update-on-select="false"
               on-change="selectValue"
               placeholder="{{currentField.placeholder}}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
